
@media screen and (max-width: 50rem) {
	ul.nav-link-wrapper {
    list-style: none;
    display: inline-flex;
    padding: 0 0.4rem;
}
main.cake-modal-info {
    display: flex;
    flex-direction: column;
}
img.cake-modal-img {
    height: 100px;
}
.show-modal {
    transform: translate(-50%, -50%)scale(1);
    width: 90%;
    top: 40%;
}
  body {
    background-color: lightgreen;
  }
#page-1 {
	flex-wrap: wrap;
	height: auto;
}
.intro-item.intro-profile {
	display: none;
}
header.about-header {
    flex-wrap: wrap;
    height: fit-content;
}
.intro-item.intro-content-wrapper {
    height: 90vh;
    border-radius: 0;
    background:var(--p-clr);
}
header.cake-modal-name {
    color: var(--p-clr);
    font-size: 2.4rem;
    position: relative;
    z-index: 0;
}
.cake-flickity-wrapper{
	overflow:hidden;
}
div#page-21 {
    padding: 0;
}
.grid-cake-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.grid-cake-item {
    height: 499px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
.grid-cake-item div {
    display: flex;
    font-size: 2.5rem;
    flex-direction: row;
    height: 50%;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    bottom: 0;
}
.arrow-right::before,
.arrow-left::before{
	display:none;
}
.about-header-item.social-link-wrapper {
    background-size: cover;
    background-position: center;
    height: 370px;
    padding: 0;
    width: 100vw;
    flex: 0 0 100%;
}
div#page-3  {
    display: none;
}
img.intro-content-img {
    width: 100%;
    padding: 0;
}
.social-link-wrapper > div {
    padding: 0;
    font-size: 0.8rem;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
header.about-header {
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: row;
}
.header-wrapper {
    z-index: 11;
}
.carousel-cell img {
    width: 275px;
    height: 100%;
    position: relative;
    transition: 1s;
    left: 0;
    top: 0;
    transform: scale(0.7);
}
.carousel-cell:hover img {
    transform: scale(1);
    top: 34%;
    left: 0;
}
.carousel-cell:hover .cake-b {
    top: -70%;
    right: 0%;
}
}
}